<section class='item-container'>
    <div class='item-table'>
        <h3 class='item-name'>Item</h3>
        <h3 class='item-exp'>Expiration Date</h3>
        <% items.forEach(function(item) { %>
        <% if (user.id === item.userId) { %>
        <span class='item-name'><a href='/items/<%= item._id %>'><%= item.foodName %></a></span>
        <span class='item-exp'>
            <% var expCheck = item.expirationDate.replace(/-/g, ""); %>
            <% expCheck = parseInt(expCheck); %>
            <% if (expCheck - dateToday <= 3) { %>
            <% if (expCheck - dateToday > 0) { %>
            <font color='#9E7928'>EXPIRING IN <%= expCheck - dateToday %>
                <% if (expCheck - dateToday > 1) { %>
                DAYS!</font>
            <% } %>
            <% if (expCheck - dateToday === 1){ %>
            DAY!</font>
            <% } %>
            <% } %>
            <% if (expCheck - dateToday <= 0) { %>

            <font color='#B32C0B'>EXPIRED!!!</font>
            <% } %>
            <% } %>
            <% if (expCheck - dateToday > 3) { %>
            <font color = 'teal'> <%= item.expirationDate %> </font>
            <% } %>
        </span>
        <span class='item-delete'>
            <form action="/items/<%= item._id %>?_method=DELETE" method="POST" class="secondary-content">
                <button class='itemInput' type="submit">Delete</button>
            </form>
        </span>

        <% } %>
        <% }) %>
        <form id='add-item' action='../items/new'>
            <button class='itemInput' type="submit">Add New Item</button>
        </form>
    </div>


</section>