<%-include('../partials/header') %>

<section class='details-container'>
    <h1><%=items.foodName%> Details</h1>
    <div>Food Type: <%= items.foodType %></div>
    <div>Expiration Date: <%= items.expirationDate %></div>
    <div>Location: <%= items.location %></div>
    <div>Input Date: <%= items.inputDate %></div>
</section>

<form action="/items/<%= items._id %>?_method=PUT" method='POST'>
<h1 class="location-title">UPDATE ITEM</h1>
<div>Location: <input type='text' name='location'></div>
    <button class='itemInput' type='submit'>Update Item</button>
</form>