<%-include('../partials/header') %>

<% items.forEach(function(item) { %>
    <h1><%=item.foodName%> Details</h1>
    <div>Food Type: <%= items.foodType %></div>
    <div>Expiration Date: <%= items.expirationDate %></div>
    <div>Location: <%= items.location %></div>
    <div>Input Date: <%= items.timestamps %></div>
    <% }) %>